
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
    body{
        min-height: 100vh;
    background-color: black;
}
img{
    width: 70px;
}
.header{
    display: flex;
    /* position: fixed; */
    /* background-color: #ffffff ; */
    top: 0; left: 0; right: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding:0px 3%;
    padding-top:1px;
    align-items: center;
    z-index: 1000;
}
.header{
    border:  1px solid ;
}
.header .navbar ul{
    list-style: none;
}
.header .navbar ul li{
    position: relative;
    float: left;
}
.header .navbar ul li a{
    font-size: 15px;
    padding: 20px;
    color: rgba(10, 163, 180, 0.993);
    font-weight: 500;
    display: block;
    text-decoration: none;
}
.header .navbar ul li a:hover{
    /* background-color: #333; */
    color:rgb(8, 255, 255);
}
.header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #fff;
    color :black;
    display:none;
}
.header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
}
.header .navbar ul li ul li a{
    color: black;
}
.header .navbar ul li:hover> ul{
    display:  initial;
    z-index: 999;
}
#menu-bar{
    display: none;
}
.header label{
    font-size: 15px;
    color:white;
    cursor: pointer;
    display: none;
}
.section{
   display: flex;
   flex-direction:row;

}


#circle {
    background: rgb(26, 26, 26);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-left: 39%;
    position:absolute;
    margin-top: 15%;
    z-index: 999;
    border: 5px solid rgb(255, 255, 255);
    
}
#circle h1,p,h3{
    color:rgba(0, 255, 255, 0.853)
}
#password{
    background-color: #000;
    margin-top: 10px;
    margin-left: 60px;
    height:30px ;
    border: 1px solid aqua;
}
input{
    color: cadetblue;
}
#enter-lab{
    margin-top: 10px;
    margin-left: 32%;
    width: 100px;
    height:30px ;
    background-color:aqua;
    color: black;
    font-weight: bold;
    border: none;
}
#banner { 
    background: url(img/library-img.jpg) no-repeat center 0; 
    background-size: cover; 
    height: 600px; 
    /* border: solid 3px #006baf;  */
    position:relative;  
    overflow: hidden 
}
.doorHoverLeft { 
    position: absolute; 
    left: 0%; 
    top: 0; 
    bottom: 0; 
    width: 50%; 
    transition: 3s ease-in-out; 
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.40); 
    background: rgb(0, 0, 0); 
   border: 3px solid aqua;
   animation-name: animateModel1;
   animation-duration: 300ms;
}
.doorHoverRight { 
    position: absolute; 
    right: 0%; 
    top: 0; 
    bottom: 0; 
    width: 50%;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.40); 
    background-color: #000;
    border: 3px solid aqua;
 
}
#leftdoor{
    /* transition: 3s ease-in;  */
    animation-name: animateModel1;
    animation-duration: 3000ms;
  }
  
  #rightdoor{
    /* transition: 3s ease-in-out;  */
    animation-name: animateModel2;
    animation-duration: 3000ms;
  }

.hide{
    display: none;
}
.box{
    width: 100%;
    height: 600px;
    background-color: white;
}

/* Model animation Section */
@keyframes animateModel1{
    from{
        left: 0%;
    }
    to{
        left: -50%;
    }
}
@keyframes animateModel2{
    from{
        right: 0%;
    }
    to{
        right: -50%;
    }
}


/* ********************timer */
#app{
    padding-left: 37%;
    padding-top: 70px;
}
#stop-timer{
    color: rgb(3, 3, 3);
    background-color: aqua;
    font-weight: bolder;
    width: 100px;
    height: 40px;
    border: 2px solid rgb(6, 6, 6);
    margin-left: 45%;    
}
#text{
    margin-left: 30%;
    color: red;

}
#password{
    text-align: center;
}

.base-timer {
    position: relative;
    width: 300px;
    height: 300px;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
  .base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
  }
  .leftdooritem{
    margin-left: 30px;
    margin-top: 40px;
  }
#nexxt-lab{
    color: rgba(133, 130, 130, 0.599);
    margin-left: 30px;
}
#nexxt-lab::after{
    content: ' nexxt labs';
    color: white;
    font-weight: 700;
}
.doorHoverLeft ul {
    margin-top: 10px;
    margin-left: 10px;
}

.doorHoverLeft ul li{
    font-size: smaller;
    float: left;
    color: rgb(114, 156, 142);
    margin-left: 30px;
}
.item1{
    /* background-color: #006baf; */
    margin-top: 100px;
    padding-left: 40px;
    display: flex;

}
.item1 img{
    border: 1px solid aqua;
}

.item1-content1 h5{
    margin-left: 30px;
    color:  rgb(144, 199, 206);
}
.item1-content1 h1{
    margin-left: 30px;
    color: rgb(144, 199, 206);
}
.item1-content1 h1::after{
   content: ' completed out of 84';
   font-size:x-small;
   color: darkgray;
}
.item2{
    /* background-color: #006baf; */
    margin-top: 50px;
    padding-left: 40px;
    display: flex;

}
.item2 img{
    border: 1px solid aqua;
}

.item2-content2 h5{
    margin-left: 30px;
    color: rgb(144, 199, 206);
}
.item2-content2 h1{
    margin-left: 30px;
    color: rgb(144, 199, 206);
}
.item2-content2 h1::after{
   content: ' completed out of 6';
   font-size:x-small;
   color: darkgray;
}
.item3{
    /* background-color: #006baf; */
    margin-top: 50px;
    padding-left: 40px;
    display: flex;

}
.item3 img{
    border: 1px solid aqua;
}

.item3-content3 h5{
    margin-left: 30px;
    color: rgb(144, 199, 206);
}
.item3-content3 h1{
    margin-left: 30px;
    color: rgb(144, 199, 206);
}
.item3-content3 h1::after{
   content: ' hour till now';
   font-size:x-small;
   color: darkgray;
}
/* ********************************************************************************88 */


#battery {
    box-sizing: content-box;
    height: 7.8em;
    width: 17.5em;
    border: 0.6em solid   aqua;
    margin: auto;
    border-radius: 0.6em;
    position: relative;
    display: grid;
    place-items: center;
    margin-top: 40%;
    transform:rotate(270deg);
  }
  #battery:before {
    position: absolute;
    content: "";
    height: 5em;
    width: 1.1em;
    background-color:  aqua;
    margin: auto;
    top: 0;
    bottom: 0;
    right: -1.6em;
    border-radius: 0 0.3em 0.3em 0;
  }
  #charge {
    position: absolute;
    height: 6.5em;
    width: 16.25em;
    background-color:   aqua;
    top: 0.6em;
    left: 0.6em;
  }
  #charge-level {
    position: absolute;
    font-size: 3em;
    font-weight: 500;
  }
  #charging-time {
    text-align: center;
    font-size: 1.7em;
    margin-top: 1.4em;
  }
  .active {
    animation: charge-animation 3s infinite linear;
  }
  @keyframes charge-animation {
    0% {
      width: 0;
    }
    100% {
      width: 16.25em;
    }
  }
  .doorHoverRight h1{
    color: aqua;
    margin-left: 37%;
    padding-top: 50px;
  }
  .doorHoverRight p{
    color: gray;
    margin-left: 38%;
    /* margin-top: 30px; */
  }